<html ng-app="social">
    <head>
        <title>Social</title>
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    </head>
    <body ng-controller="MainController as main">

        <div class="container">
            {{ main.error }}
            <table class="table">
                <tr ng-repeat="post in main.posts">
                    <td>{{post.body}}</td>
                    <td>{{post.username}}</td>
                </tr>
            </table>
        </div>

        <div class="container">
            <form ng-submit="main.savePost()">
                <input class="form-control" type="text" ng-model="main.newPost.body" placeholder="Body" />
                <input class="form-control" type="text" ng-model="main.newPost.username" placeholder="Username" />
                <input class="btn btn-primary" type="submit" value="Save"/>
            </form>
        </div>

    </body>
    <script src="/angular/angular.js"></script>
    <script src="app.js"></script>
</html>
