body{
	padding:10px;
	background-color: #ccccaa;
}

.ng-enter {
    -webkit-animation: fadeInLeft 0.5s;
    animation: fadeInRight 0.5s;
}

.ng-hide-remove {
    -webkit-animation: bounceIn 0.5s;
    animation: bounceIn 0.5s;
}
 
.ng-hide-add {
    -webkit-animation: bounceOut 0.5s;
    animation: bounceOut 0.5s;
    display: block !important;
}

body.ngCloak {
	display: :none;
}