<h2>Edit <span data-bind="text: movie.title"></span></h2>

<form name="edit" class="form-horizontal">

	<div class="form-group">
		<label for="title" class="col-md-2 control-label">Title</label>
		<div class="col-md-10">
			<input data-bind="value: movie.title" class="form-control" type="text" placeholder="Title" required/>
		</div>
	</div>
	<div class="form-group">
		<label for="title" class="col-md-2 control-label">Release Year</label>
		<div class="col-md-10">
			<input data-bind="value: movie.year" class="form-control" type="number" required/>
		</div>
	</div>
	<div class="form-group">
		<label for="title" class="col-md-2 control-label">Rating</label>
		<div class="col-md-10">
			<input data-bind="value: movie.rating" class="form-control" type="number" placeholder="5" required/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-10 col-md-offset-2">
			<button class="btn btn-primary" data-bind="click: save" ng-disabled="edit.$invalid">Save</button>
			<button class="btn" data-bind="click: cancel">Cancel</button>			
		</div>
	</div>

</form>