<table class="table table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Rating</th>
			<th>Year</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody data-bind="foreach: movies">
		<tr>
			<td>
				<a data-bind="text: title, attr:{href: '#/detail/' + id}"></a>
			</td>
			<td data-bind="text: rating"></td>
			<td data-bind="text: year"></td>
			<td>
				<a data-bind="attr: {href: '#/edit/' + id}"><span class="glyphicon glyphicon-edit"></span></a>
                <a data-bind="attr: {href: '#/delete/' + id}"><span class="glyphicon glyphicon-remove"></span></a>       
			</td>
		</tr>
	</tbody>
</table>
<a href="#/new" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add A Movie</a>
