<h2>All Movies</h2>
<table class="table table-hover">
    <tr>
        <th>Title</th>
        <th>Rating</th>
        <th>Year</th>
    </tr>
    {{#each movie in controller}}
        <tr>
            <td>
                {{#link-to 'movies.detail' movie}}{{movie.title}}{{/link-to}}
            </td>
            <td>{{movie.rating}}</td>
            <td>{{movie.year}}</td>
        </tr>
    {{/each}}
</table>