<h2>All Movies</h2>
<table class="table table-hover">
    <tr>
        <th>Title</th>
        <th>Rating</th>
        <th>Year</th>
        <th></th>
    </tr>
    {{#each movie in controller}}
    <tr>
        <td>
            {{#link-to 'movies.detail' movie}}{{movie.title}}{{/link-to}}
        </td>
        <td>{{movie.rating}}</td>
        <td>{{movie.year}}</td>
        <td>
            {{#link-to 'movies.edit' movie}}<span class="glyphicon glyphicon-edit"></span>{{/link-to}}
            <a href=""><span class="glyphicon glyphicon-remove"></span></a>
        </td>
    </tr>
    {{/each}}
</table>
<button {{action "new"}} class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add A Movie</button>