<div class="row">

    <div class="col-md-8">
        <form #form="ngForm" (ngSubmit)="save(form)" novalidate>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title"
                       required 
                       [(ngModel)]="movie.title" 
                       class="form-control" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" 
                    class="alert alert-danger">
                    Name is required
                </div>
            </div>
            <div class="form-group">
                <label for="length">Length</label>
                <input type="number" name="length" [(ngModel)]="movie.length" 
                        min="1"
                        class="form-control">
            </div>
            <div class="form-group">
                <label for="rating">Rating</label>
                <input type="number" name="rating" [(ngModel)]="movie.rating" 
                        min="1" max="5"
                        class="form-control">
            </div>
            <input type="submit" class="btn btn-primary"
                   [disabled]="!form.valid"
                   value="Save">
        </form>
    </div>
</div>