<div ng-controller="ListController" class="row">
    <div class="span6">
        <table class="table table-striped">
            <tr ng-repeat="movie in movies">
                <td>
                    <a href="#/details/{{movie.id}}">{{movie.title}}</a>                    
                </td>
                <td>
                    <button class="btn" ng-click="delete(movie)">Delete</button>
                    <a href="#/details/{{movie.id}}" class="btn">Edit</a> 
                </td>
            </tr>    
        </table>        
        <button ng-click="create()">Create</button>
    </div>
    <div class="span6">
        <div ng-show="isEditing" ng-cloak>
            <div ng-include="'/Client/views/edit.html'"></div>
        </div>
    </div>
</div>
