*resharper.user
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
*.suo
*.mdf
*.ldf
*.sln.cache
_ReSharper.*/
*.resharper
resharper.settings.xml
*.user
[Bb]uild*
[Dd]ist
0
*.g.csproj
*.vspscc
*.bak
*.scc
*.xap
MSSCCPRJ.SCC
DebugLog.*
*.orig
*.log
log.txt
*.docstates
packages/
TestResults/